<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="/orders"></ion-back-button>
    <ion-title>Order ID: {{ orderObj[0]["orderID"] }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" *ngFor="let item of orderObj[0]['orderDetails']">
      <ion-card color="secondary">
        <ion-card-header>Item Line: {{ item.orderLine }}</ion-card-header>
        <ion-card-content>
          Product Number: {{ item.productNr }} <br />
          Product Description: {{ item.productDescription }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
